*
!Dockerfile
!observatory/
!observatory/*.py
!web/
!web/*.html
!web/*.css
!web/*.js
!web/*.mjs
!web/vendor/
!web/vendor/engine.mjs
!web/vendor/effects.wasm
!web/vendor/LICENSE
!web/vendor/NOTICE
!web/vendor/manifest.json
!web/vendor/STAMPS-NOTICE
!web/vendor/OMARCHY-BACKGROUND-NOTICE
!web/fonts/
!web/fonts/JetBrainsMonoNerdFont-Regular.ttf
!web/fonts/OFL.txt
!web/fonts/NERD-FONTS-LICENSE
!web/fonts/NOTICE

!hooks/
!hooks/*.py
!hooks/*.sh
!hooks/*.ts
