*
!Dockerfile
!observatory/
!observatory/*.py
!web/
!web/*.html
!web/*.css
!web/*.js

!renderer/
!renderer/Cargo.toml
!renderer/Cargo.lock
!renderer/src/
!renderer/src/*.rs
!renderer/NOTICE
!renderer/TTFX-LICENSE
